* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.section-1 {
    background-image: url(/img/Facade.png);
    background-size: cover;
    width: 100%;
    height: 1080px;
    background-repeat: no-repeat;

}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 105px;
    padding: 0 58px;
}

.header .right {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: right;
}

.header .center {
    display: flex;
    width: 20%;
}

.header .left {
    display: flex;
    width: 40%;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 28px;
}

.menu-items {
    background-color: white;
    height: 3px;
    width: 90%;
    margin: 2px 0;
}

.menu h1 {
    color: white;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    padding-left: 20px;
    display: flex;
    height: 100%;
    align-items: center;

}

.logo img {
    width: 212px;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.search img {
    width: 29.15px;
    height: 30px;
}

.language p {
    color: white;
    width: 100px;
    text-align: center;
}

.search {
    height: 105px;
    display: flex;
    align-items: center;

}

.button {
    background-color: #E4C280;
    height: 70px;
    width: 180px;
    line-height: 70px;


}

.button h1 {
    color: white;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    height: 100%;
}

.button-discover-more {
    background-color: #E4C280;
    width: 220px;
    height: 50px;
    line-height: 220px;
    margin: 0 auto;
    margin-top: 81px;
}

.button-discover-more h1 {
    color: white;
    font-family: Helvetica;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 50px;

}

.description h3 {
    color: white;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 400px;
}

.description h1 {
    color: white;
    font-family: Helvetica;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
}

.booking-bloc {
    background-color: white;
    width: 100%;
    padding: 0 55px;
    display: flex;
}

.booking-bloc h6 {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #878787;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: left;
}

.booking-bloc .date {
    font-weight: 400;
    font-size: 64px;
    letter-spacing: 0.75px;
    color: #000000;
}

.booking-bloc .descriptions {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.25px;
    color: #000000;
    display: inline-block;
    width: 120px;
    margin-left: 20px;
}

.booking-bloc .small-descriptions {
    font-size: 14px;
}

.booking-bloc .date-block {
    padding: 0 0 52px 66px;
}

.booking-bloc .date-block div {
    display: flex;
    align-items: center;
}

.number-of-people {
    display: flex;
}

.number-of-people div {
    width: 50%;
    text-align: center;
}

.number-of-people div h6 {
    text-align: center;
}

.chek-avaliability-btn {
    display: flex;
    align-items: center;
}

.chek-avaliability-btn button {
    width: 242px;
    height: 55px;
    display: block;
    background: #E4C280;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: auto;
    border: none;
}

.date-of-arrival,
.date-of-departure,
.number-of-people,
.chek-avaliability-btn {
    width: 25%;
    border: 1px solid #E5E5E5;
}

.vision-block {
    padding: 186px 122px 121px 70px;
    background: #F7F7F7;
    display: flex;
}

.vision-block .left {
    width: 50%;
    text-align: left;
}

.vision-block .left h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #E4C280;
}

.vision-block .left h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 0.25px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 60px;
}

.vision-block .left h4 {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #000000;
    width: 490px;
}

.vision-block .left p {
    font-weight: 400;
    font-size: 18px;
    margin: 20px 0 50px 0;
    width: 490px;

    letter-spacing: 0.25px;
    color: #878787;
}

.vision-block .left div {
    width: 182px;
}

.vision-block .left div p {
    font-size: 14px;
}

.vision-block .right {
    width: 50%;
    display: flex;
    align-items: center;
}

.vision-block .right div {
    height: 540px;
    width: 636px;
    margin: auto;
    position: relative;
}

.vision-block .right .border {
    border: 0.5px solid #878787;
    position: absolute;
    z-index: 2;
}

.vision-block .right div img {
    position: absolute;
    height: 540px;
    bottom: 50px;
    left: 50px;
}
.explore-title, .the-hotel-title, .description-title{
    text-align: center;
}
.free-time h4 {
    color: #E4C280;
    font-size: 18px;
    font-weight: 400;
    margin-top: 34px;
}

.free-time h1 {
    color: #000000;
    font-size: 48px;
    font-weight: 700;
    margin-top: 25px;

}

.free-time p {
    color: #000000;
    font-size: 16px;
    width: 729px;
    font-weight: 400;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.entertainment {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 117px;
}

.entertainment .card {
    background-color: #F6F6F6;
    width: 434px;
    height: 679px;
}


.entertainment .card img {
    width: 100%;

}

.entertainment .card h1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 64px;
    padding-left: 45px;
}

.entertainment .card p {
    font-size: 14px;
    font-weight: 400;
    padding:0    45px;
    width: 100%;
}

.entertainment .card h4 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0 45px;
}