* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.section-1 {
    background-image: url(/img/Facade.png);
    background-size: cover;
    width: 100%;
    height: 1080px;
    background-repeat: no-repeat;

}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 105px;
    padding: 0 58px;
}

.header .right {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: right;
}

.header .center {
    display: flex;
    width: 20%;
}

.header .left {
    display: flex;
    width: 40%;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 28px;
}

.menu-items {
    background-color: white;
    height: 3px;
    width: 90%;
    margin: 2px 0;
}

.menu h1 {
    color: white;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    padding-left: 20px;
    display: flex;
    height: 100%;
    align-items: center;

}

.logo img {
    width: 212px;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.search img {
    width: 29.15px;
    height: 30px;
}

.language p {
    color: white;
    width: 100px;
    text-align: center;
}

.search {
    height: 105px;
    display: flex;
    align-items: center;

}

.button {
    background-color: #E4C280;
    height: 70px;
    width: 180px;
    line-height: 70px;


}

.button h1 {
    color: white;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    height: 100%;
}

.button-discover-more {
    background-color: #E4C280;
    width: 220px;
    height: 50px;
    line-height: 220px;
    margin: 0 auto;
    margin-top: 81px;
}

.button-discover-more h1 {
    color: white;
    font-family: Helvetica;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 50px;

}

.description h3 {
    color: white;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 400px;
}

.description h1 {
    color: white;
    font-family: Helvetica;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
}

.booking-bloc {
    background-color: white;
    width: 100%;
    padding: 0 55px;
    display: flex;
}

.booking-bloc h6 {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #878787;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: left;
}

.booking-bloc .date {
    font-weight: 400;
    font-size: 64px;
    letter-spacing: 0.75px;
    color: #000000;
}

.booking-bloc .descriptions {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.25px;
    color: #000000;
    display: inline-block;
    width: 120px;
    margin-left: 20px;
}

.booking-bloc .small-descriptions {
    font-size: 14px;
}

.booking-bloc .date-block {
    padding: 0 0 52px 66px;
}

.booking-bloc .date-block div {
    display: flex;
    align-items: center;
}

.number-of-people {
    display: flex;
}

.number-of-people div {
    width: 50%;
    text-align: center;
}

.number-of-people div h6 {
    text-align: center;
}

.chek-avaliability-btn {
    display: flex;
    align-items: center;
}

.chek-avaliability-btn button {
    width: 242px;
    height: 55px;
    display: block;
    background: #E4C280;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: auto;
    border: none;
}

.date-of-arrival,
.date-of-departure,
.number-of-people,
.chek-avaliability-btn {
    width: 25%;
    border: 1px solid #E5E5E5;
}

.vision-block {
    padding: 186px 122px 121px 70px;
    background: #F7F7F7;
    display: flex;
}

.vision-block .left {
    width: 50%;
    text-align: left;
}

.vision-block .left h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #E4C280;
}

.vision-block .left h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 0.25px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 60px;
}

.vision-block .left h4 {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #000000;

}

.vision-block .left p {
    font-weight: 400;
    font-size: 18px;
    margin: 20px 0 50px 0;


    letter-spacing: 0.25px;
    color: #878787;
}

.vision-block .left div {
    width: 182px;
}

.vision-block .left div p {
    font-size: 14px;
}

.vision-block .right {
    width: 50%;
    display: flex;
    align-items: center;
}

.vision-block .right div {
    height: 540px;
    width: 636px;
    margin: auto;
    position: relative;
}

.vision-block .right .border {
    border: 0.5px solid #878787;
    position: absolute;
    z-index: 2;
}

.vision-block .right div img {
    position: absolute;
    height: 540px;
    bottom: 50px;
    left: 50px;
}

.explore-title,
.the-hotel-title,
.description-title {
    text-align: center;
}

.free-time h4 {
    color: #E4C280;
    font-size: 18px;
    font-weight: 400;
    margin-top: 34px;
}

.free-time h1 {
    color: #000000;
    font-size: 48px;
    font-weight: 700;
    margin-top: 25px;

}

.free-time p {
    color: #000000;
    font-size: 16px;
    width: 729px;
    font-weight: 400;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.entertainment {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 117px;
}

.entertainment .card {
    background-color: #F6F6F6;
    width: 434px;

}


.entertainment .card img {
    width: 100%;

}

.entertainment .card h1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 64px;
    padding-left: 45px;
}

.entertainment .card p {
    font-size: 14px;
    font-weight: 400;
    padding: 0 45px;
    width: 100%;
}

.entertainment .card h4 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0 45px;
}

.section-4 {
    background-image: url(./img/background.png);
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px 70px 144px 70px;
}

.section-4 h6 {
    color: #E4C280;
    font-size: 18px;
    font-weight: 400;
    height: 52px;
    text-align: center;
    text-transform: uppercase;
}

.section-4 h1 {
    color: white;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.the-advantages {
    display: flex;
    flex-wrap: wrap;

}

.advantage {
    width: 400px;
    display: flex;
    margin-top: 30px;
}

.the-advantages img {
    width: 50px;
    height: 40px;

}

.the-advantages h1 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 40px;
    text-align: left;
    margin-top: 20px;
}

.the-advantages p {
    color: #878787;
    font-size: 16px;
    font-weight: 400;
    margin-left: 40px;
    margin-top: 5px;

}

.section-5 {
    background-color: #F7F7F7;
    width: 100%;
}

.section-5 p {
    color: #E4C280;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding-top: 35px;
}

.section-5 h1 {
    color: black;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}

.links {
    text-align: center;
    margin-top: 15px;
}


.links a {
    color: #E4C280;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 0 20px;
}

.example-room {
    display: flex;
    margin-top: 50px;
    border-style: hidden;
    padding: 35px;

}

.example-room img {
    width: 50%;

}

.description-room {
    background-color: white;
}

.description-room h1 {
    color: black;
    font-size: 48px;
    font-weight: 400;
    text-align: left;
    margin-left: 30px;

}

.description-room p {
    color: #000;
    font-size: 14px;
    text-align: left;
    font-weight: 400;
    width: 90%;
    margin-left: 30px;
    height: 140px;
}

.description-room .grey {
    width: 187px;
    height: 70px;
    font-size: 18px;
    font-weight: 400;
    color: white;
    background-color: #878787;
    border: none;
    margin-left: 30px;
    margin-top: 40px;
}

.description-room .yellow {
    width: 187px;
    height: 70px;
    font-size: 18px;
    font-weight: 400;
    color: white;
    background-color: #E4C280;
    border: none;
    margin-left: 10px;
}

.types-of-rooms {
    display: flex;
    justify-content: center;
}

.types-of-rooms .room {
    display: flex;
}

.types-of-rooms img {
    height: 120px;
    margin-left: 10px;

}

.types-of-rooms h6 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 10px;
    line-height: 120px;
}

.section-6 {
    background-color: #F7F7F7;
    width: 100%;

}

.section-6 p {
    color: #E4C280;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    padding-top: 35px;
}

.section-6 h1 {
    color: #000;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}

.leisure-block {
    display: flex;
    justify-content: space-around;
}

.leisure-block .card {
    width: 400px;

}

.leisure-block .card img {
    width: 100%;

}

.text-for-card {
    padding-left: 25px;
    padding-right: 25px;

}

.text-for-card h5 {
    color: #878787;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    padding-top: 10px;

}

.text-for-card span {
    color: #E4C280;
    font-size: 18px;
    font-weight: 400;
    text-align: right;


}

.text-for-card h1 {
    color: #000;
    font-size: 36px;
    font-weight: 400;
    text-align: left;

}

.text-for-card p {
    color: #878787;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.text-for-card h6 {
    color: #E4C280;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    margin-top: 20px;
}


.section-6 .grey {
    background-color: #878787;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
    height: 52px;
    width: 221px;
    text-align: center;
    line-height: 52px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 80px;
}

.footer {
    background-color: #000;
    height: 100%;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;

}

.top {
    display: flex;
    justify-content: space-between;

}

.top h1 {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    margin-top: 10px;

}

.top ul li {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    list-style-type: none;
}

.top ul li span {
    color: #878787;
    font-size: 14px;
    font-weight: 400;
    display: inline-flex;
}

.footer .top ul li .yellow {
    color: #E4C280;

}

.footer .top ul li img {
    height: 13px;
    margin-left: 15px;
}

.top .main-menu h1 {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
}

.top .main-menu ul li {
    color: #E4C280;
    font-size: 14px;
    font-weight: 400;
}

.top .things-to-do h1 {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
}

.top .things-to-do ul li {
    color: #E4C280;
    font-size: 14px;
    font-weight: 400;
}

.top .rooms-suits {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
}

.top .rooms-suits ul li {
    color: #E4C280;
    font-size: 14px;
    font-weight: 400;
}

.bottom .line {
    width: 100%;
    height: 1px;
    background-color: #878787;
    margin-top: 20px;
    padding-left: 60px;
    padding-right: 60px;

}

.bottom p {
    color: #878787;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .header .left {
        width: 25%;
    }

    .section-1 {
        background-size: contain;
        height: 660px;
    }

    .section-1 .description h3 {
        margin-top: 170px;
    }

    .booking-bloc .date-block {
        padding: 0 0 22px 8px
    }

    .booking-bloc .date-block .date {
        font-size: 45px;
    }

    .booking-bloc .date-block h6 {
        font-size: 15px;
        font-weight: 300;
    }

    .booking-bloc .date-block .descriptions {
        font-size: 15px;
        font-weight: 300;
    }

    .booking-bloc .date-block .descriptions .small-descriptions {
        font-size: 15px;
        font-weight: 300;
    }

    .booking-bloc .number-of-people .date {
        font-size: 45px;
        font-weight: 300;
    }

    .booking-bloc .number-of-people h6 {
        font-size: 15px;
        font-weight: 300;
    }

    .booking-bloc .chek-avaliability-btn button {
        width: 190px;
        height: 40px;
        font-size: 15px;
        font-weight: 300;
    }

    .vision-block {
        padding: 40px;
    }

    .vision-block .left h3 {
        font-size: 15px;
        font-weight: 300;
    }

    .vision-block .left h1 {
        font-size: 40px;
        font-weight: 700;
    }

    .vision-block .left h4 {
        font-size: 15px;
        font-weight: 700;
    }

    .vision-block .left p {
        font-size: 15px;
        font-weight: 400;
    }

    .vision-block .left img {
        width: 70%;
        ;
    }

    .vision-block .left p {
        font-size: 12px;
    }

    .vision-block .right img {
        width: 100%;
        left: 40px !important;
        height: auto !important;
        bottom: auto !important;
        top: -40px;
    }

    .vision-block .right div {
        height: 317px;
        width: 374px;
    }

    .free-time .explore-title {
        font-size: 15px;
    }

    .free-time .the-hotel-title {
        font-size: 40px;
    }

    .free-time .description-title {
        font-size: 14px;
    }

    .free-time .entertainment .card {
        width: 287px;
    }

    .free-time .entertainment .card h1 {
        padding-left: 12px;
        font-size: 30px;

    }

    .free-time .entertainment .card p {
        font-size: 13px;
        padding: 0 10px;
        height: 65px;

    }

    .free-time .entertainment .card h4 {
        font-size: 15px;
        padding: 0 10px;
    }

    .section-5 .types-of-rooms {
        flex-wrap: wrap;
    }

    .section-5 .types-of-rooms img {
        margin-top: 15px;
    }

    .section-5 .example-room .description-room .grey {
        height: 50px;
        font-size: 15px;
        margin-top: 50px;
    }

    .section-5 .example-room .description-room .yellow {
        height: 50px;
        font-size: 15px;
    }

    .section-6 p {
        font-size: 15px;
    }

    .section-6 h1 {
        font-size: 40px;
    }

    .section-6 .leisure-block .card {
        width: 280px;
    }

    .section-6 .leisure-block .card .text-for-card h5 {
        font-size: 14px;
    }

    .section-6 .leisure-block .card .text-for-card span {
        font-size: 14px;
    }

    .section-6 .leisure-block .card .text-for-card h1 {
        font-size: 25px;
    }

    .section-6 .leisure-block .card .text-for-card p {
        font-size: 13px;
        padding-top: 25px;
    }

    .section-6 .leisure-block .card .text-for-card h6 {
        font-size: 16px;
    }

    .section-6 .grey {
        height: 47px;
        width: 170px;
        font-size: 15px;
        line-height: 47px;
    }

    .section-6 .footer .top .contact h1 {
        font-size: 15px;
    }

    .section-6 .footer {
        padding-left: 25px;
        padding-right: 25px;
    }

    .section-6 .footer .top .contact ul li img {
        height: 12px;
    }

    .section-6 .footer .top .contact ul li {
        font-size: 12px;
    }

    .section-6 .footer .top .contact ul li span {
        font-size: 12px;
    }

    .section-6 .footer .top .main-menu h1 {
        font-size: 15px;
    }

    .section-6 .footer .top .main-menu ul li {
        font-size: 12px;
    }

    .section-6 .footer .top .things-to-do h1 {
        font-size: 15px;
    }

    .section-6 .footer .top .things-to-do ul li {
        font-size: 12px;
    }

    .section-6 .footer .top .rooms-suits h1 {
        font-size: 15px;
    }

    .section-6 .footer .top .rooms-suits ul li {
        font-size: 12px;
    }

    .section-6 .bottom p {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .logo img {
        display: none;
    }

    .search img {
        width: 20.15px;
        height: 20px;
    }

    .button {
        height: 40px;
        width: 130px;
        line-height: 40px;

    }

    .button h1 {
        font-size: 14px;
    }

    .language p {
        width: 60px;
    }

    .section-1 {
        background-size: cover;
        height: 470px;
    }

    .section-1 .description h3 {
        font-size: 14px;
        margin-top: 80px;
    }

    .section-1 .description h1 {
        font-size: 25px;
    }

    .button-discover-more {
        width: 200px;
        height: 40px;

    }

    .button-discover-more h1 {
        font-size: 14px;
        height: 40px;
        line-height: 40px;
    }

    .booking-bloc {
        flex-wrap: wrap;
    }

    .date-of-arrival,
    .date-of-departure,
    .number-of-people,
    .chek-avaliability-btn {
        width: 50%;
    }

    .booking-bloc .date-block {
        padding: 0 0 22px 40px;
    }

    .booking-bloc .date-block .date {
        font-size: 30px;
    }

    .booking-bloc .number-of-people .date {
        font-size: 30px;
    }

    .booking-bloc .descriptions {
        font-size: 13px !important;
    }

    .number-of-people div {
        margin-bottom: 20px;
    }

    .booking-bloc .chek-avaliability-btn button {
        width: 170px;
        height: 35px;
        font-size: 12px;
    }

    .vision-block .right div {
        height: 267px;
        width: 273px;
    }

    .vision-block .right img {
        top: -31px;
    }

    .entertainment {
        padding-bottom: 50px;
    }

    .free-time .entertainment .card {
        width: 230px;
    }

    .free-time .entertainment .card h1 {
        font-size: 20px;
        margin-top: 5px;
    }

    .free-time .entertainment .card p {
        margin-top: 10px;
    }

    .free-time .entertainment .card h4 {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .section-4 {
        padding: 60px 30px 144px 30px;
    }

    .section-4 h6 {
        font-size: 15px;

    }

    .section-4 h1 {
        font-size: 30px;
    }

    .the-advantages {
        justify-content: space-between;
    }

    .advantage {
        width: 209px;
    }

    .the-advantages h1 {
        margin-left: 15px;

    }

    .the-advantages img {
        height: 20px;
    }

    .the-advantages p {
        font-size: 13px;
        margin-left: 15px;
    }

    .section-4 .the-advantages h1 {
        font-size: 15px;
    }



    .example-room img {
        object-fit: cover;
    }

    .example-room .description-room h1 {
        font-size: 35px;
    }

    .example-room .description-room p {
        font-size: 12px;
    }

    .section-5 .example-room .description-room .grey {
        width: 110px;
        font-size: 14px;
        margin-top: 50px;
    }

    .section-5 .example-room .description-room .yellow {
        width: 110px;
        font-size: 14px;
        margin-top: 50px;
        ;

    }

    .section-5 .types-of-rooms img {
        height: 100px;
        margin-top: 10px;

    }

    .section-5 .types-of-rooms h6 {
        font-size: 14px;
    }

    .section-6 p {
        font-size: 14px;
    }

    .section-6 h1 {
        font-size: 35px;
    }

    .section-6 .leisure-block .card {
        width: 220px;
    }
    .section-6 .leisure-block {
        margin-top: 20px;
    }
    .section-6 .leisure-block .card .text-for-card h5 {
        font-size: 13px;
    }

    .section-6 .leisure-block .card .text-for-card span {
        font-size: 13px;
    }

    .section-6 .leisure-block .card .text-for-card h1 {
        font-size: 20px;
    }
}